{% extends "base.html" %}
{% block content %}
<h1>Welcome to our mini-Amazon</h1>

<br>
<h2 class="text-muted">current user is {{user.username}}</h2>
<br>



<br>
<p class="main">
  You can see three choices on the up menu, including "Edit Profile", "Shopping Cart" and "Order Status".
</p>


<br>
<p class="main">
  <b>Edit Profile:</b> Click this if you would like to set your defaults address and associated UPS account.
</p>

<br>

<p class="main">
  <b>Shopping Cart:</b> Click this to see your shopping cart.
</p>

<br>

<p class="main">
  <b>Order Status:</b> Click this if you want to check all your orders.
</p>

<br>

<p class="main">
  <b>Product Catalog:</b> Click this to see all products in our websites!
</p>

<br>


<p class="main">
  Hope you have a good experience with us!
</p>

{% endblock content %}